body {
  min-height: -webkit-fill-available;
  min-height: 100%;
  --light-background: #f0f2f5;
  --divider: #ccd2d6;
}

html, #root { height: 100% }

::-webkit-scrollbar { width: 5px }

::-webkit-scrollbar-track { background: var(--divider) }

::-webkit-scrollbar-thumb {
  background: #3faaac;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover { background: #2c7a7b }

a { color: teal !important }